header {
    font-size: 3em;
    text-align: center;
    color: #130f05;
    background-color: #d9d9d9;
}

p {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: #333;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #969696;
;}

nav {
    background-color: #beb9b9;
    display: flex;
    
}

.lugares {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.lugares li {
  width: 200px;
}

.lugares img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px; /* Opcional, bordes redondeados */
}